body{
    background-color:#2F2E41 ;

    width: 1280px;
height: 720px;
flex-shrink: 0;

}
h1 { 
    color: #fff;
    display: inline-block;
    text-align: center;
    position: fixed;

    width: 361px;
    height: 40px;
    
    

}
p { 
    color: #C2C2C2;
    display: inline-block;

    width: 604px;
    height: 68px;

    
text-align: center;
font-family: "Open Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
ul {
    display: flex;
    gap: 48px;

    padding: 71px;


}
ul li, nav {   
    display: flex;
    list-style:none;
    color: #fff;

    border: 0;
    padding: 0;

    

}
 .list{ 
    display: flex;
}
strong{ 
    color:#00BFA6 ;

}

header img{ 
    width: 13.143px;
    height: 16px;
    flex-shrink: 0;

 

} 
header { 
    margin-bottom: 55px;
display: flex;
justify-content: space-between;

}
section img{ 
    width: 302.393px;
    height: 204.677px; 

    padding: 0;
    



}
.page p  {


    padding: 71px;
    margin: auto;
    text-align: left;
}

.cont { 
    position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #2F2E41
  padding: 10px;
}
.cont p {
    color: #fff;
    margin: 0;
}
    .text img { 
        gap: 99px;
    }
#linha {
    display: flex;

    padding: 35px;
    justify-content: center;
    align-items: center;

    margin-left: 25%;

    border-bottom: 1px solid #00BFA6; 
    
    width: 586px;
    height: 1px;
     

}